<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burin.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Login_Theme" />
        <activity
            android:name=".Detail"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainList"
            android:label="@string/title_activity_main_list"
            android:screenOrientation="portrait"
            android:theme="@style/Register_Theme" />
        <activity
            android:name=".RegisterDromeActivity"
            android:label="@string/title_activity_register_drome"
            android:screenOrientation="portrait"
            android:theme="@style/Search_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterAdminActivity"
            android:label="@string/title_activity_register_admin"
            android:screenOrientation="portrait"
            android:theme="@style/Register_Theme" />
        <activity
            android:name=".AddFloorActivity"
            android:label="@string/title_activity_add_floor"
            android:screenOrientation="portrait"
            android:theme="@style/Register_Theme" />
        <activity
            android:name=".PictureListActivity"
            android:label="@string/title_activity_picture_list"
            android:screenOrientation="portrait"
            android:theme="@style/Register_Theme" />
        <activity
            android:name=".FloorListActivity"
            android:label="@string/title_activity_floor_list"
            android:screenOrientation="portrait"
            android:theme="@style/Register_Theme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".DetailUserActivity"
            android:label="@string/title_activity_detail_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>